contourpy==1.1.1
cycler==0.11.0
filelock==3.12.4
fonttools==4.42.1
importlib-resources==6.1.0
kiwisolver==1.4.5
matplotlib==3.7.3
numpy==1.24.4
packaging==23.1
pandas==2.0.3
Pillow==10.0.1
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
rebound==3.28.2
scipy==1.10.1
six==1.16.0
spiceypy==6.0.0
tqdm==4.66.1
tzdata==2023.3
zipp==3.17.0
